h2 {
    text-align: center;
    background-color:palevioletred;
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
}

.content div {
    border:1px solid cornflowerblue;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    transition: 0.2s;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}

.content div:nth-child(odd) {
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    transition: 0.2s;
    text-align: center;
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}

.content div h4 {
    font-size: 1.5rem;
    font-weight: 900;
}

.content div a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.content div video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}