.new-background-color {
    --background: #5DCFD0;
}

.content {
    display: flex;
    flex-direction: row;
}

.content div {
    border-radius: 17px;
    background: #ffffff;
    box-shadow:  -24px 24px 48px #dedede,
             24px -24px 48px #dedede;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    transition: 0.2s;
    text-align: center;
    padding: 1rem;
}

.content div h4 {
    font-size: 1.5rem;
    font-weight: 900;
}

.content div a {
    text-decoration: none;
    font-weight: 900;
}

.content div video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 390px) {
    .content div video {
        width: 16rem;
        height: 10rem;
    }
}

@media screen and (min-width: 1200px) {
    .content div video {
        width: 40rem;
        height: 10rem;
    }
}