<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Hi, Rajat</ion-title>
  </ion-toolbar>
</ion-header>

<div class="topbar" [routerLink]="['','courses']">
  <div>
    <ion-icon name="play"></ion-icon>
  </div>
  <div>
    <h2>Learn <br> or <br> Resume</h2>
  </div>
</div>

<ion-content>
  
  <div class="first">
    <div style="background-color: #5DCFD0">
        <ion-icon name="book" size="large"></ion-icon>
        <h6>Learn <br> Courses</h6>
    </div>
  
    <div style="background-color: #47A0A4">
        <ion-icon name="create" size="large"></ion-icon>
        <h6>Create <br> Open Labs</h6>
    </div>
    
    <div style="background-color: #62CCA4">
      <ion-icon name="settings" size="large"></ion-icon>
      <h6>Build <br> Tinker</h6>
    </div>
  
    <div style="background-color: #4EA986">
        <ion-icon name="people" size="large"></ion-icon>
        <h6>Share <br> Community</h6>
    </div>

    
  </div>
  
</ion-content>
