<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Learn Courses</ion-card-title>
      <ion-card-subtitle
        >Learn CS courses via video and documents</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
      consequuntur perferendis corporis, officiis vitae nam delectus!
      Exercitationem nemo repellendus consectetur illum, voluptates minima, fuga
      voluptas sequi iusto, quidem molestias commodi.
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Build Tinker</ion-card-title>
      <ion-card-subtitle>Learn and build things</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi atque
      nihil, laudantium, nostrum molestias quo eligendi odio illo vero aut eum
      iusto esse ut, natus aliquam rerum nemo nobis sequi.
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Create Open Labs</ion-card-title>
      <ion-card-subtitle>Open labs for students</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi atque
      nihil, laudantium, nostrum molestias quo eligendi odio illo vero aut eum
      iusto esse ut, natus aliquam rerum nemo nobis sequi.
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Share Community</ion-card-title>
      <ion-card-subtitle>Explore more</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi atque
      nihil, laudantium, nostrum molestias quo eligendi odio illo vero aut eum
      iusto esse ut, natus aliquam rerum nemo nobis sequi.
    </ion-card-content>
  </ion-card>
</ion-content>
